fastapi
uvicorn
python-multipart
pymongo
motor
pydantic
pydantic-settings
python-dotenv
email-validator
azure-storage-blob==12.19.0
langchain_community
langchain_core
langchain_google_genai
termcolor
pytz
-e .